.form {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: #a0a0c0;
  color: white;
  position: relative;
  left: 0;
  right: 0;
  margin-bottom: 1em;
  height: 3em;
  line-height: 3em;
  padding: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
}
nav * {
  display: inline-block;
}
nav .navbar-brand {
  font-size: 120%;
}
nav a {
  color: white;
}
nav a:hover {
  background-color: white;
  color: #a0a0c0;
}
nav .right {
  float: right;
}
nav .left {
  float: left;
}
.content div.formbox {
  position: relative;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #f0f0f0;
}
.content div.formbox h1 {
  padding: .5em;
  padding-top: 2em;
  font-size: 250%;
  color: #909090;
}
.content div.formbox input {
  font-size: 150%;
  padding: .5em;
  margin: 1em;
}
.content .tablebox {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  color: #303030;
}
.content .tablebox table {
  border-collapse: collapse;
  width: 500px;
}
.content .tablebox tr {
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}
.content .tablebox td,
.content .tablebox th {
  vertical-align: middle;
  padding-top: .5em;
  padding-bottom: .5em;
}
