.form {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: #a0a0c0;
  color: white;
  position: relative;
  left: 0;
  right: 0;
  margin-bottom: .5em;
  height: 3em;
  line-height: 3em;
  padding: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
}
nav * {
  display: inline-block;
}
nav .navbar-brand {
  font-size: 120%;
}
nav a {
  color: white;
}
nav a:hover {
  background-color: white;
  color: #a0a0c0;
}
nav .right {
  float: right;
}
nav .left {
  float: left;
}
mark {
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 90%;
}
mark div {
  padding: .3em;
  position: relative;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
mark .success {
  background: #e0e0f0;
  color: #606090;
}
mark .warning {
  background: #ffffc0;
  color: #904040;
}
main {
  margin-top: .5em;
  margin-bottom: .5em;
}
main h1,
main h2 {
  position: relative;
  width: 500px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f0f0;
  padding: 0;
  color: #909090;
}
main h1 {
  font-size: 250%;
  text-align: center;
  padding-top: 2em;
}
main h2 {
  font-size: 150%;
  text-align: center;
}
main div.formbox {
  position: relative;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #f0f0f0;
}
main div.formbox input {
  font-size: 150%;
  padding: .5em;
  margin: 1em;
}
main .tablebox {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  color: #303030;
}
main .tablebox table {
  border-collapse: collapse;
  width: 500px;
  margin-top: 1em;
}
main .tablebox tr {
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}
main .tablebox td,
main .tablebox th {
  vertical-align: middle;
  padding-top: .5em;
  padding-bottom: .5em;
}
