.form {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #a0a0c0;
    color: white;
    position: relative;
    left:0;
    right:0;
    margin-bottom: .5em;

    height: 3em;
    line-height: 3em;
    padding: 1em;
    padding-top: .5em;
    padding-bottom: .5em;

    * {
	display: inline-block;
    }

    .navbar-brand {
	font-size: 120%;
    }

    a {
	color: white;
    }

    a:hover {
	background-color: white;
	color: #a0a0c0;
    }

    .right {
	float: right;
    }

    .left {
	float: left;
    }

}

mark {
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: 90%;
	
    div {
	padding: .3em;
	position: relative;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
    }

    .success {
	background: #e0e0f0;
	color: #606090;
    }
    .warning {
	background: #ffffc0;
	color: #904040;
    }
}

main {

    margin-top: .5em;
    margin-bottom: .5em;

    div.formbox {
	position: relative;

	width: 500px;
	margin-left: auto;
	margin-right: auto;

	h1 {
	    padding: .5em;
	    padding-top: 2em;
	    font-size: 250%;
	    color: #909090;
	}
	
	text-align: center;
	background-color: #f0f0f0;
	//padding: 2em;
	
	input {
	    font-size: 150%;
	    padding: .5em;
	    margin: 1em;
	}
	
    }
    
    .tablebox {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	color: #303030;

	table {
	    border-collapse: collapse;
	    width: 500px;
	}
	
	tr {
	    border-bottom: 1px solid #e0e0e0;
	    border-top: 1px solid #e0e0e0;
	}

	td,th {
	    vertical-align: middle;
	    padding-top: .5em;
	    padding-bottom: .5em;
	}
	
    }
}
